{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}DjangoSMS{% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">

    <!-- Fontawesome icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-6.5.1/css/all.min.css' %}">

    <!-- Bootstrap5 -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-5.3.2/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">

    <!-- <script src="https://js.stripe.com/v3/"></script> -->
    {% block header %}{% endblock %}
</head>

<body>
    {% block sidebar %}
        {% include 'sidebar.html' %}
    {% endblock %}

    {% block maincontent %}
    <div id="main">
        {% block topbar %}
            {% include 'navbar.html' %}
            <!-- <button id="theme-toggle" class="btn btn-outline-primary position-fixed" style="top: 10px; right: 10px; z-index: 1000;">
                <i class="fas fa-moon"></i> {% trans "Dark Mode" %}
            </button> -->
        {% endblock %}

        <div class="container-fluid" id="main-content">
            {% block content %}{% endblock content %}
        </div>

    </div>
    {% endblock %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>

    {% block js %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const themeToggle = document.getElementById('theme-toggle');
        themeToggle.addEventListener('click', function() {
          document.body.classList.toggle('dark-theme');
          // Змінюємо іконку при перемиканні
          const icon = this.querySelector('i');
          if (document.body.classList.contains('dark-theme')) {
            icon.classList.remove('fa-moon');
            icon.classList.add('fa-sun');
          } else {
            icon.classList.remove('fa-sun');
            icon.classList.add('fa-moon');
          }
        });
      });
    </script>
    {% endblock js %}
</body>

</html>
